# Copyright (c) 2025 Bayrem Gharsellaoui
# SPDX-License-Identifier: Apache-2.0

menuconfig PN532
    bool "PN532 device drivers"
    help
      This option enables the pn532 custom driver class.

if PN532

config PN532_LOG_LEVEL
    int "PN532 log level"
    depends on PN532
    range 0 4
    default 3
    help
      Log level for the PN532 driver (0=off, 1=error, 2=warning, 3=info, 4=debug).

config PN532_INIT_PRIORITY
    int "PN532 device drivers init priority"
    default KERNEL_INIT_PRIORITY_DEVICE
    help
      PN532 device drivers init priority.

config PN532_TRANSPORT_MOCK
    bool "Use mock transport for PN532"
    default n
    help
      Use a dummy transport backend for testing purposes.

module = PN532
module-str = pn532
source "subsys/logging/Kconfig.template.log_config"

endif # PN532
