/*
 * Copyright (c) 2025 Bayrem Gharsellaoui
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
    fake_i2c_bus: i2c@100 {
        status = "okay";
        compatible = "zephyr,i2c-emul-controller";
        clock-frequency = <I2C_BITRATE_STANDARD>;
    };
};

&fake_i2c_bus {
    compatible = "zephyr,i2c-emul-controller";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pn532: pn532@24 {
        status = "okay";
        compatible = "nxp,pn532";
        reg = <0x24>;
    };
};
